<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Game</title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/createpage.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
</head>
<body>

<form action='' method = "POST">
  <p>NAME </p>
    <input type = "text" name = "name" min="0"required />
  <p>YEAR </p>
    <input type = "number" name = "year" min="0" required />
  <p>COMPANY </p>
    <input type = "text" name = "company" required />
  <p ><input class="submitbut" type = "submit" value = "Submit" /></p>
</form>

</body>
</html>
