<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Games</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/datalist.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
</head>
<body>
    <a class="adding" href="/add" >ADD NEW</a>
    {% for game in games %}
    <h3>{{game}}</h3> <a class="gamelink" href="/data/{{game.id}}" >MORE</a><hr>
    {% endfor %}



</body>
</html>
