<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Details</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/data.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
</head>
<body>

<h3>Id</h3>
<p>{{game.id}}</p><hr>
<h3>Name</h3>
<p>{{game.name}}</p><hr>
<h3>Year</h3>
<a class="gamelink more" href="/{{game.year}}">{{game.year}}</a><hr>
<h3>Company</h3>
<a class="comapnyname" href="/{{game.company}}">{{game.company}}</a><hr>

<a class="gamelink update" href="/data/{{game.id}}/update" >Update</a>

<a class="gamelink delete" href="/data/{{game.id}}/delete" >Delete</a>

<a class="gamelink back" href="/" >Back</a>

</body>
</html>
