<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete the Game</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/createpage.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
</head>
<body>

<form action='' method="POST">
    Are your sure about that?
    <input class="submitbut" type = "submit" value="YES">
    <a class="submitbut delete" href='/'>CANCEL</a>
</form>

</body>
</html>
