<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Release year</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/datalist.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
</head>
<body>

{% for game in games %}
        {% if game.year == gameYear %}
            <h3>{{game}}</h3><hr>
        {% endif %}
    {% endfor %}

<a class="gamelink back" href="/" >Back</a>

</body>
</html>
